### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compilaciones Java
/bin/
/out/
/build/

# Archivos temporales de IDEs
*.class
*.log
*.tmp

# Archivos de Eclipse / IntelliJ / VS Code
*.iml
.idea/
.vscode/
